{% extends "base.html" %}
{% block title %}About us{% endblock %}
{% block main %}
    <h1>It is my own framework!</h1>

    <form method="get">
        <p>[GET] Type your question to us:</p>
        <p><input type="text" id="name" name="name"></p>
        <p><input type="text" id="question" name="question"></p>
        <p><input type="submit"></p>
    </form>
    <form method="post">
        <p>[POST] Type your username and password:</p>
        <p><input type="text" id="username" name="username"></p>
        <p><input type="text" id="password" name="password"></p>
        <p><input type="submit"></p>
    </form>
{% endblock %}